*.iml
.gradle
/local.properties
/.idea/caches
/.idea/code-comments
/.idea/kotlinc
/.idea/misc
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/code-comments.xml
/.idea/misc.xml
/.idea/kotlinc.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/deploymentTargetDropDown.xml
deploymentTargetDropDown.xml